<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarHospital(input.value)" type="text" class="form-control"
                    placeholder="Buscar hospital..." />
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button class="btn btn-primary waves-effect waves-light btn-rounded" type="button"
                        (click)="crearHospital()">
                        <i class="fa fa-plus"></i>
                        Crear Hospital
                    </button>
                </div>
                <h3 class="card-title">Hospitales Registrados (<small>{{totalRegistros}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital)" [src]="hospital.img | imagen: 'hospital'"
                                    class="w50 img-circle pointer">
                            </td>
                            <td class="align-middle">
                                <input type="text" class="form-control" minlength="3" [(ngModel)]="hospital.nombre"
                                    name="nombre" placeholder="Nombre del hospital">
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-primary" (click)="guardarHospital(hospital)">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button class="btn btn-danger" (click)="borrarHospital(hospital)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>